.custom-btn-primary {
    background-color: #ff8c00;
    border-color: #ff8c00;
}

.custom-btn-secondary {
    background-color: #ff8c00;
    border-color: #ff8c00;
}

.pokemon-card {
    margin-bottom: 20px;
}